:host {
  display: flex;
  flex-direction: column;
}

::slotted(*) {
  grid-column: 1/-1;
}

::slotted(.w-80) {
  grid-column: span 8;
}

::slotted(.w-20) {
  grid-column: span 2;
}

.expand {
  margin-bottom: 10px;
  grid-column: 1/-1;

  @media (min-width: 768px) {
    margin-top: 10px;
  }
}

.content {
  color: var(--primary);
  font-size: 14pt;
  padding: 5px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;

  &.hidden {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  background-color: var(--secondary);
  user-select: none;

  @media (min-width: 768px) {
    border-radius: 16px;
  }
}
