:host {
  display: flex;
  flex-direction: column;
}

.expand {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-top: 10px;
  }
}

.content {
  color: var(--primary);
  font-size: 14pt;


  &.hidden {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  background-color: var(--secondary);
  user-select: none;

  @media (min-width: 768px) {
    border-radius: 16px;
  }
}
